In [29]:
import requests
import pandas as pd

In [27]:
output = {}
for i in range(350):
    payload = {'page_size':1, 'category_id':i, 'source_page':'category_page', 'locale':'en_US', 'currency':'usd', 'navigation_locale':'en_US', 'sos':'pc','fl':'cat'}
    r = requests.get(url, params=payload)
    if r.status_code == 200:
        api_data = r.json()
        category_title = api_data['unit']['title']
        if category_title not in output:
            output[category_title] = i
            print('category: {title}, id: {id}'.format(title=category_title, id=i))
    else:
        continue
            
print('Done')

category: Technology courses, id: 267
category: Business courses, id: 268
category: Design courses, id: 269
category: Social Science courses, id: 270
category: Math & Science courses, id: 271
category: Humanities courses, id: 272
category: Photography & Video courses, id: 273
category: Lifestyle courses, id: 274
category: Crafts and Hobbies courses, id: 275
category: Health & Fitness courses, id: 276
category: Teacher Training courses, id: 277
category: Music courses, id: 278
category: Language courses, id: 279
category: Sports courses, id: 280
category: Games courses, id: 281
category: Other courses, id: 282
category: Udemy Free Resource Center courses, id: 283
category: Development courses, id: 288
category: Marketing courses, id: 290
category: Office Productivity courses, id: 292
category: IT & Software courses, id: 294
category: Personal Development courses, id: 296
category: Test Prep courses, id: 298
category: Teaching & Academics courses, id: 300
category: Cloud Computing courses, id: 302
category: Finance & Accounting courses, id: 308
category: Workplace & Human Resources courses, id: 310
category: IT Operations courses, id: 312
category: Leadership & Management courses, id: 314
category: Project Management & Operations courses, id: 322
category: Sales courses, id: 324
category: Data Science courses, id: 326
category: Vodafone courses, id: 330
category: Continuing Education Units courses, id: 332
Done

In [28]:
output

{'Technology courses': 267,
 'Business courses': 268,
 'Design courses': 269,
 'Social Science courses': 270,
 'Math & Science courses': 271,
 'Humanities courses': 272,
 'Photography & Video courses': 273,
 'Lifestyle courses': 274,
 'Crafts and Hobbies courses': 275,
 'Health & Fitness courses': 276,
 'Teacher Training courses': 277,
 'Music courses': 278,
 'Language courses': 279,
 'Sports courses': 280,
 'Games courses': 281,
 'Other courses': 282,
 'Udemy Free Resource Center courses': 283,
 'Development courses': 288,
 'Marketing courses': 290,
 'Office Productivity courses': 292,
 'IT & Software courses': 294,
 'Personal Development courses': 296,
 'Test Prep courses': 298,
 'Teaching & Academics courses': 300,
 'Cloud Computing courses': 302,
 'Finance & Accounting courses': 308,
 'Workplace & Human Resources courses': 310,
 'IT Operations courses': 312,
 'Leadership & Management courses': 314,
 'Project Management & Operations courses': 322,
 'Sales courses': 324,
 'Data Science courses': 326,
 'Vodafone courses': 330,
 'Continuing Education Units courses': 332}

In [35]:
df = pd.DataFrame(list(output.items()), columns=['category', 'category_id'])

In [36]:
df

                                   category  category_id
0                        Technology courses          267
1                          Business courses          268
2                            Design courses          269
3                    Social Science courses          270
4                    Math & Science courses          271
5                        Humanities courses          272
6               Photography & Video courses          273
7                         Lifestyle courses          274
8                Crafts and Hobbies courses          275
9                  Health & Fitness courses          276
10                 Teacher Training courses          277
11                            Music courses          278
12                         Language courses          279
13                           Sports courses          280
14                            Games courses          281
15                            Other courses          282
16       Udemy Free Resource Center courses          283
17                      Development courses          288
18                        Marketing courses          290
19              Office Productivity courses          292
20                    IT & Software courses          294
21             Personal Development courses          296
22                        Test Prep courses          298
23             Teaching & Academics courses          300
24                  Cloud Computing courses          302
25             Finance & Accounting courses          308
26      Workplace & Human Resources courses          310
27                    IT Operations courses          312
28          Leadership & Management courses          314
29  Project Management & Operations courses          322
30                            Sales courses          324
31                     Data Science courses          326
32                         Vodafone courses          330
33       Continuing Education Units courses          332

In [37]:
df.to_excel('./data/category_id.xlsx')